<div class="big-banner" style= 'background-image: url("<%= @list.pic_url %>");'>
  <h2><%= @list.name %></h2>
</div>
<div class="container">
  <div class="form-container">
    <%= simple_form_for [@list, @bookmark], html: { class: 'form-inline' }  do |f|%>
      <%= f.input :comment, type: "text" %>
      <%= f.association :movie %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
          <div class="card big-card">
            <div class="card-title">
              <h3><%= bookmark.movie.title %></h3>
            </div>
            <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class:"card-img-top movie-image" %>
            <div class="card-body">
              <p><%= bookmark.movie.overview %></p>
              <p><i class="fas fa-quote-left mx-2"> </i><%= bookmark.comment %></p>
            </div>
            <%= link_to 'delete', bookmark_path(bookmark),
                method: :delete,
                data: {confirm: "Are you sure?" }
            %>
          </div>
    <% end %>
  </div>
</div>
