<div class="big-banner" style= 'background-image: url("<%= cl_image_path @list.photo.key %>");'>
  <h2><%= @list.name %></h2>
</div>
<div class="form-bar">
  <div class="form-container">
    <%= simple_form_for [@list, @bookmark], html: { class: 'form-inline' }  do |f|%>
      <%= f.association :movie, selected: 1 %>
      <%= f.input :comment %>
      <%= f.submit class: "btn btn-black" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
          <div class="card big-card">
            <div class="card-title">
              <h3><%= bookmark.movie.title %></h3>
            </div>
            <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class:"card-img-top movie-image" %>
            <div class="card-body">
              <p><%= bookmark.movie.overview %></p>
              <p><i class="fas fa-quote-left mx-2"> </i><%= bookmark.comment %></p>
            </div>
            <%= link_to 'delete', bookmark_path(bookmark),
                method: :delete,
                data: {confirm: "Are you sure?" }
            %>
          </div>
    <% end %>
  </div>
  <hr>
  <div class="row">
    <div class="form-box" >
      <div class="review-head">
        <i class="fas fa-comment-dots big-icon"></i> <h2 style="padding:10px;">Review this list</h2>
      </div>
      <%= simple_form_for [@list, @review], html: { class: 'form-inline' }  do |f|%>
        <%= f.input :name %>
        <%= f.input :rating, collection: 1..5, selected: 5  %>
        <%= f.input :comment %>
        <%= f.submit class: "btn btn-black" %> 
      <% end %>
    </div>
    <div class="reviews">
      <% @reviews.each do |review| %>
        <div class="review-box">
          <div class="card rectangle-card">
            <div class="card-head">
              <%= review.name %> - <%= "â­" * review.rating %>
            </div>
            <div class="card-body">
              <%= review.comment %>
            </div>
          </div>
          <div class="speechmark">
          </div>
          <div class="speechmark black-speechmark">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
